In [ ]:
using Pkg
Pkg.activate(".")

using DataFrames
using NemoMod
using SQLite
using Cbc
using JuMP


include("setup_analysis.jl")

In [5]:
#
#  TEMPORARY LOCATIONS FOR PROOF OF CONCEPT
#

dir_attributes = "/Users/jsyme/Documents/Projects/git_jbus/lac_decarbonization/docs/source/csvs"

at_fuel = AttributeTable(
    joinpath(dir_attributes, "attribute_cat_fuel.csv"),
    Symbol("``\$CAT-FUEL\$``"), 
    [Symbol("Category Name")],
    true
);

at_region = AttributeTable(
    joinpath(dir_attributes, "attribute_cat_region.csv"),
    Symbol("``\$REGION\$``"),
    [Symbol("Category Name")],
    true
);

at_technology = AttributeTable(
    joinpath(dir_attributes, "attribute_cat_technology.csv"),
    Symbol("``\$CAT-TECHNOLOGY\$``"),
    [Symbol("Category Name")],
    true
);

In [16]:
# get technology categories for integration into tables
keys_technology = collect(at_technology.table[:, at_technology.key])
categories_technology = [replace(at_technology.field_maps["cat_technology_to_category_name"][x], "`" => "") for x in keys_technology]
categories_technology

##  
keys_sorted = sort(collect(keys(dict_tables)))
files_to_specify = []
for k in keys_sorted
    if nrow(dict_tables[k]) > 0
        push!(files_to_specify, k)
    end
end;

LoadError: UndefVarError: dict_tables not defined

In [17]:

##  function for getting powerplants
function get_powerplants(
        fp_powerplant_data::String, 
        dict_ext::Dict{Symbol, String}, 
        attribute_tech::AttributeTable,
        attribute_region::AttributeTable,
        field_region::Symbol = :country,
        field_fuel::Symbol = :primary_fuel
    )
    
    # checkt the dictionary
    if !issubset(Set(values(dict_ext)), Set(["group", "sum", "mean"]))
        error("Error in dict_ext: invalid values.")
    end
    fields_ext = Symbol.(collect(keys(dict_ext)))
    fields_grp = [Symbol(x) for x in keys(dict_ext) if (dict_ext[x] == "group")]
    dict_agg = Dict()
    for k in fields_ext
        if !(k in fields_grp)
            if dict_ext[k] == "sum"
                dict_agg[k] = sum
            elseif dict_agg[k] == "mean"
                dict_ext[k] = mean
            end
        end
    end
    fields_data = Symbol.(collect(keys(dict_agg)))
    
    
    # get the dataframe
    fp_powerplant_data = check_path(fp_powerplant_data, false)
    df_pp = read_csv(fp_powerplant_data, true)
    # check fields in the extraction dictionary 
    check_fields!(df_pp, fields_ext)
    
    
    ##  setup techs to replace (from attribute table)
    categories_tech = Set(replace.(attribute_tech.table[:, "cat_technology"], "`" => ""))
    set_fuels_pp = union([Set(df_pp[:, x]) for x in names(df_pp) if occursin("fuel", x)]...);
    tech_src = collect(skipmissing(set_fuels_pp))
    tech_targ = "pp_".*replace(lowercase.(tech_src), "hydro" => "hydropower")
    for i in 1:length(tech_src)
        tech = tech_targ[i]
        if !(tech in categories_tech)
            tech_targ[i] = "pp_other"
        end
    end
    # a dictionary to replace the values with the techs in
    dict_pp_repl = Dict(zip(tech_src, tech_targ))
    all_pp_for_cross = sort(collect(intersect(categories_tech, Set(tech_targ))))

    ##  get region info (lower case)
    all_regions = replace.(keys(at_region.field_maps["region_to_category_name"]), "`" => "")

    ##  very basic approach -- get energy totals by country
    df_energy = copy(df_pp[:, fields_ext])
    for nm in fields_grp
        df_energy[!, nm] = String.(df_energy[!, nm])
    end 
    for fld in Symbol.(collect(keys(dict_agg)))
        df_energy[!, fld] = Float64.(df_energy[!, fld])
    end
    
    df_energy[!, field_fuel] = replace(df_energy[:, field_fuel], dict_pp_repl...)
    df_energy[!, field_region] = lowercase.(df_energy[:, field_region])
    df_energy = combine(groupby(df_energy, fields_grp), Dict(:capacity_mw => sum)..., renamecols = false);
    df_energy0 = copy(df_energy)
    #reshape(collect(Iterators.product([1, 2, 3], [1, 2, 3], [1, 2])), (18, ))
    dfe = crossjoin(DataFrame(field_region => all_regions), DataFrame(field_fuel => all_pp_for_cross))
    df_energy = leftjoin(dfe, df_energy, on = Symbol.(names(dfe)));
    for fld in fields_data
        df_energy[!, fld] = replace(coalesce(df_energy[!, fld]), missing => 0.0);
    end
    
    return sort(df_energy, [field_region, field_fuel])
end


df_energy = get_powerplants(
    "/Users/jsyme/Documents/Projects/FY21/SWCHE131_1000/Data/LAC_global_power_plant_database.csv",
    Dict(:country => "group", :primary_fuel => "group", :capacity_mw => "sum"),
    at_technology,
    at_region
);

In [47]:
##########################################################################
###                                                                    ###
###    DEFINE FUNCTIONS TO CONVERT DATA TO NEMO MOD INPUT DB TABLES    ###
###                                                                    ###
##########################################################################

# attribute table
function build_nemo_attribute(attribute_table::AttributeTable, field_category::Symbol, field_description::Symbol)
    
    df_out = copy(attribute_table.table)
    fields_ext = [field_category, field_description]
    check_fields!(df_out, fields_ext)
    df_out = df_out[:, [field_category, field_description]]
    
    rename!(df_out, Dict(field_category => :val, field_description => :desc))
    
    return df_out
end

build_nemo_attribute (generic function with 3 methods)

In [53]:
#######################################
#    build tables to export to SQL    #
#######################################

dict_tables_out = Dict{String, DataFrame}()

dict_tables_out["FUEL"] = build_nemo_attribute(at_fuel, at_fuel.key, :description)
dict_tables_out["TECHNOLOGY"] = build_nemo_attribute(at_technology, at_technology.key, :description)
dict_tables_out["REGION"] = build_nemo_attribute(at_region, at_region.key, :category_name)

22×2 DataFrame
 Row │ val     desc
     │ String  String
─────┼─────────────────────────────
   1 │ arg     Argentina
   2 │ bol     Bolivia
   3 │ bra     Brazil
   4 │ chl     Chile
   5 │ col     Colombia
   6 │ cri     Costa Rica
   7 │ dom     Dominican Republic
   8 │ ecu     Ecuador
   9 │ slv     El Salvador
  10 │ gtm     Guatemala
  11 │ guy     Guyana
  12 │ hnd     Honduras
  13 │ jam     Jamaica
  14 │ mex     Mexico
  15 │ nic     Nicaragua
  16 │ pan     Panama
  17 │ pry     Paraguay
  18 │ per     Peru
  19 │ sur     Suriname
  20 │ tto     Trinidad and Tobago
  21 │ ury     Uruguay
  22 │ ven     Venezuela

In [ ]:
##### reshape(collect(Iterators.product([1, 2, 3], [1, 2, 3], [1, 2])), (18, ))

In [180]:
!ispath(dir_tmp) ? mkdir(dir_tmp) : nothing
fp_db = joinpath(dir_tmp, "testingdb.sqlite")
createnemodb(fp_db)

2022-14-Aug 08:58:00.612 Opened SQLite database at /Users/jsyme/Documents/Projects/git_jbus/lac_decarbonization/tmp/testingdb.sqlite.
2022-14-Aug 08:58:00.824 Added NEMO structure to SQLite database at /Users/jsyme/Documents/Projects/git_jbus/lac_decarbonization/tmp/testingdb.sqlite.

SQLite.DB("/Users/jsyme/Documents/Projects/git_jbus/lac_decarbonization/tmp/testingdb.sqlite")

In [165]:

db2 = SQLite.DB(fp_db)

dict_tables2 = Dict{String, DataFrame}()
tables_vary2 = []


for k in SQLite.tables(db2)[1]
    df_tmp = DBInterface.execute(db2, "select * from $(k)") |> DataFrame
    dict_tables2[k] = df_tmp
    (nrow(df_tmp) > 0) ? push!(tables_vary2, k) : nothing
end;

In [181]:
NemoMod.calculatescenario(fp_db; jumpmodel=Model(Cbc.Optimizer), numprocs = 1)

2022-14-Aug 08:58:03.616 Started modeling scenario.
2022-14-Aug 08:58:03.616 Validated run-time arguments.
2022-14-Aug 08:58:03.621 Connected to scenario database. Path = /Users/jsyme/Documents/Projects/git_jbus/lac_decarbonization/tmp/testingdb.sqlite.
2022-14-Aug 08:58:03.623 Dropped pre-existing result tables from database.
2022-14-Aug 08:58:03.623 Verified that transmission modeling is not enabled.
2022-14-Aug 08:58:03.694 Created parameter views and indices.
2022-14-Aug 08:58:03.714 Created temporary tables.
2022-14-Aug 08:58:04.594 Executed core database queries.
NEMO encountered an error with the following message: MethodError: no method matching parse(::Type{Int64}, ::Missing)
Closest candidates are:
  parse(::Type{T}, !Matched::AbstractChar; base) where T<:Integer at parse.jl:40
  parse(::Type{T}, !Matched::AbstractString; base) where T<:Integer at parse.jl:237
  parse(::Type{T}, !Matched::AbstractString; kwargs...) where T<:Real at parse.jl:376.
To report this issue to the NEMO team, please submit an error report at https://leap.sei.org/support/. Please include in the report a list of steps to reproduce the error and the error message.

In [177]:
for k in keys(dict_tables)
    if nrow(dict_tables[k]) >= 0
        els = eltype.(eachcol(dict_tables[k]))
        nms = names(dict_tables2[k])
        pairs = collect(zip(nms, els))
        print("Table $(k):\n$(pairs)\n\n")
    end
end

Table MinimumUtilization:
Tuple{String,Union}[("id", Union{Missing, Int64}), ("r", Union{Missing, String}), ("t", Union{Missing, String}), ("l", Union{Missing, String}), ("y", Union{Missing, String}), ("val", Union{Missing, Float64})]

Table TransmissionModelingEnabled:
Tuple{String,Union}[("id", Union{Missing, Int64}), ("r", Union{Missing, String}), ("f", Union{Missing, String}), ("y", Union{Missing, String}), ("type", Union{Missing, Int64})]

Table CapacityToActivityUnit:
Tuple{String,Union}[("id", Union{Missing, Int64}), ("r", Union{Missing, String}), ("t", Union{Missing, String}), ("val", Union{Missing, Float64})]

LoadError: KeyError: key "vusenn" not found

2022-14-Aug 03:38:57.598 Started modeling scenario.
2022-14-Aug 03:38:57.599 Validated run-time arguments.
2022-14-Aug 03:38:57.604 Connected to scenario database. Path = /Users/jsyme/Documents/Projects/git_jbus/lac_decarbonization/tmp/testingdb.sqlite.
2022-14-Aug 03:38:57.608 Dropped pre-existing result tables from database.
2022-14-Aug 03:38:57.608 Verified that transmission modeling is not enabled.
2022-14-Aug 03:38:57.712 Created parameter views and indices.
2022-14-Aug 03:38:57.725 Created temporary tables.
2022-14-Aug 03:39:01.866 Executed core database queries.
NEMO encountered an error with the following message: MethodError: Cannot `convert` an object of type Int64 to an object of type String
Closest candidates are:
  convert(::Type{String}, !Matched::WeakRefStrings.WeakRefString) at /Users/jsyme/.julia/packages/WeakRefStrings/lqf5B/src/WeakRefStrings.jl:79
  convert(::Type{T}, !Matched::T) where T<:AbstractString at strings/basic.jl:229
  convert(::Type{T}, !Matched::AbstractString) where T<:AbstractString at strings/basic.jl:230
  ....
To report this issue to the NEMO team, please submit an error report at https://leap.sei.org/support/. Please include in the report a list of steps to reproduce the error and the error message.

In [8]:
#### dbpath = normpath(joinpath(pathof(NemoMod), "..", "..", "test", "storage_test.sqlite"))
# it's important to set numprocs = 1; the parallelization doesn't seem to export the package (or the environment?). need to report
NemoMod.calculatescenario(dbpath; jumpmodel=Model(Cbc.Optimizer), numprocs = 1)

2022-31-Jul 18:40:43.247 Started modeling scenario.
2022-31-Jul 18:40:43.294 Validated run-time arguments.
2022-31-Jul 18:40:43.307 Connected to scenario database. Path = /Users/jsyme/.julia/packages/NemoMod/OkhEV/test/storage_test.sqlite.
2022-31-Jul 18:40:43.814 Dropped pre-existing result tables from database.
2022-31-Jul 18:40:43.817 Verified that transmission modeling is not enabled.
2022-31-Jul 18:40:44.355 Created parameter views and indices.
2022-31-Jul 18:40:44.362 Created temporary tables.
2022-31-Jul 18:40:46.452 Executed core database queries.
2022-31-Jul 18:40:46.813 Defined dimensions.
2022-31-Jul 18:40:47.344 Defined demand variables.
2022-31-Jul 18:40:47.777 Defined storage variables.
2022-31-Jul 18:40:47.778 Defined capacity variables.
2022-31-Jul 18:40:50.389 Defined activity variables.
2022-31-Jul 18:40:50.407 Defined costing variables.
2022-31-Jul 18:40:50.407 Defined reserve margin variables.
2022-31-Jul 18:40:50.408 Defined renewable energy target variables.
2022-31-Jul 18:40:50.408 Defined emissions variables.
2022-31-Jul 18:40:50.408 Defined combined nodal and non-nodal variables.
2022-31-Jul 18:40:50.408 Finished defining model variables.
2022-31-Jul 18:40:50.675 Created constraint CAa1_TotalNewCapacity.
2022-31-Jul 18:40:50.704 Created constraint CAa2_TotalAnnualCapacity.
2022-31-Jul 18:40:50.836 Created constraint CAa3_TotalActivityOfEachTechnology.
2022-31-Jul 18:40:51.311 Created constraint CAa4_Constraint_Capacity.
2022-31-Jul 18:40:51.337 Created constraint EBa2_RateOfFuelProduction2.
2022-31-Jul 18:40:51.350 Created constraint EBa3_RateOfFuelProduction3.
2022-31-Jul 18:40:51.354 Created constraint VRateOfProduction1.
2022-31-Jul 18:40:51.366 Created constraint EBa5_RateOfFuelUse2.
2022-31-Jul 18:40:51.373 Created constraint EBa6_RateOfFuelUse3.
2022-31-Jul 18:40:51.376 Created constraint VRateOfUse1.
2022-31-Jul 18:40:51.417 Created constraint EBa7_EnergyBalanceEachTS1.
2022-31-Jul 18:40:51.417 Created constraint EBa8_EnergyBalanceEachTS2.
2022-31-Jul 18:40:51.458 Created constraint EBa9_EnergyBalanceEachTS3.
2022-31-Jul 18:40:51.595 Created constraint EBa11_EnergyBalanceEachTS5.
2022-31-Jul 18:40:51.597 Created constraint EBb0_EnergyBalanceEachYear.
2022-31-Jul 18:40:51.597 Created constraint EBb1_EnergyBalanceEachYear.
2022-31-Jul 18:40:51.598 Created constraint EBb2_EnergyBalanceEachYear.
2022-31-Jul 18:40:51.602 Created constraint EBb5_EnergyBalanceEachYear.
2022-31-Jul 18:40:51.637 Created constraint Acc3_AverageAnnualRateOfActivity.
2022-31-Jul 18:40:51.647 Created constraint NS1_RateOfStorageCharge.
2022-31-Jul 18:40:51.656 Created constraint NS2_RateOfStorageDischarge.
2022-31-Jul 18:40:51.769 Created constraint NS3_StorageLevelTsGroup1Start.
2022-31-Jul 18:40:51.769 Created constraint NS4_StorageLevelTsGroup2Start.
2022-31-Jul 18:40:51.769 Created constraint NS5_StorageLevelTimesliceEnd.
2022-31-Jul 18:40:51.773 Created constraint NS6_StorageLevelTsGroup2End.
2022-31-Jul 18:40:51.774 Created constraint NS7_StorageLevelTsGroup1End.
2022-31-Jul 18:40:51.880 Created constraint NS8_StorageLevelYearEnd.
2022-31-Jul 18:40:51.880 Created constraint SI1_StorageUpperLimit.
2022-31-Jul 18:40:51.900 Created constraint SI2_StorageLowerLimit.
2022-31-Jul 18:40:51.900 Created constraint SI3_TotalNewStorage.
2022-31-Jul 18:40:51.906 Created constraint NS9a_StorageLevelTsLowerLimit.
2022-31-Jul 18:40:51.906 Created constraint NS9b_StorageLevelTsUpperLimit.
2022-31-Jul 18:40:51.916 Created constraint NS10_StorageChargeLimit.
2022-31-Jul 18:40:51.922 Created constraint NS11_StorageDischargeLimit.
2022-31-Jul 18:40:51.922 Created constraint NS12a_StorageLevelTsGroup2LowerLimit.
2022-31-Jul 18:40:51.922 Created constraint NS12b_StorageLevelTsGroup2UpperLimit.
2022-31-Jul 18:40:51.922 Created constraint NS13a_StorageLevelTsGroup1LowerLimit.
2022-31-Jul 18:40:51.923 Created constraint NS13b_StorageLevelTsGroup1UpperLimit.
2022-31-Jul 18:40:51.923 Created constraint NS18_FullLoadHours.
2022-31-Jul 18:40:51.929 Created constraint SI4_UndiscountedCapitalInvestmentStorage.
2022-31-Jul 18:40:51.950 Created constraint SI5_DiscountingCapitalInvestmentStorage.
2022-31-Jul 18:40:52.007 Created constraint SI8_SalvageValueStorageAtEndOfPeriod3.
2022-31-Jul 18:40:52.008 Created constraint SI9_SalvageValueStorageDiscountedToStartYear.
2022-31-Jul 18:40:52.008 Created constraint SI10_TotalDiscountedCostByStorage.
2022-31-Jul 18:40:52.009 Created constraint CC1_UndiscountedCapitalInvestment.
2022-31-Jul 18:40:52.010 Created constraint CC2_DiscountingCapitalInvestment.
2022-31-Jul 18:40:52.032 Created constraint SV1_SalvageValueAtEndOfPeriod1.
2022-31-Jul 18:40:52.045 Created constraint SV4_SalvageValueDiscountedToStartYear.
2022-31-Jul 18:40:52.046 Created constraint OC1_OperatingCostsVariable.
2022-31-Jul 18:40:52.046 Created constraint OC2_OperatingCostsFixedAnnual.
2022-31-Jul 18:40:52.046 Created constraint OC3_OperatingCostsTotalAnnual.
2022-31-Jul 18:40:52.050 Created constraint OC4_DiscountedOperatingCostsTotalAnnual.
2022-31-Jul 18:40:52.050 Created constraint TDC1_TotalDiscountedCostByTechnology.
2022-31-Jul 18:40:52.051 Created constraint TDC2_TotalDiscountedCost.
2022-31-Jul 18:40:52.051 Created constraint TCC1_TotalAnnualMaxCapacityConstraint.
2022-31-Jul 18:40:52.068 Created constraint NCC1_TotalAnnualMaxNewCapacityConstraint.
2022-31-Jul 18:40:52.076 Created constraint RM1_ReserveMargin_TechnologiesIncluded_In_Activity_Units.
2022-31-Jul 18:40:52.083 Created constraint RM2_ReserveMargin_FuelsIncluded.
2022-31-Jul 18:40:52.095 Created constraint RM3_ReserveMargin_Constraint.
2022-31-Jul 18:40:52.112 Created constraint RE1_FuelProductionByTechnologyAnnual.
2022-31-Jul 18:40:52.117 Created constraint FuelUseByTechnologyAnnual.
2022-31-Jul 18:40:52.125 Created constraint E5_DiscountedEmissionsPenaltyByTechnology.
2022-31-Jul 18:40:52.179 Defined model objective.
2022-31-Jul 18:41:00.497 Solved model. Solver status = OPTIMAL.
2022-31-Jul 18:41:01.248 Saved results for vdemandnn to database.
2022-31-Jul 18:41:01.601 Saved results for vnewcapacity to database.
2022-31-Jul 18:41:01.608 Saved results for vtotalcapacityannual to database.
2022-31-Jul 18:41:01.827 Saved results for vproductionbytechnologyannual to database.
2022-31-Jul 18:41:01.854 Saved results for vproductionnn to database.
2022-31-Jul 18:41:01.860 Saved results for vusebytechnologyannual to database.
2022-31-Jul 18:41:01.879 Saved results for vusenn to database.
2022-31-Jul 18:41:02.128 Saved results for vtotaldiscountedcost to database.
2022-31-Jul 18:41:02.129 Finished saving results to database.
2022-31-Jul 18:41:02.134 Dropped temporary tables.
2022-31-Jul 18:41:02.134 Finished modeling scenario.
Welcome to the CBC MILP Solver
Version: 2.10.3
Build Date: Nov  9 2020

command line - Cbc_C_Interface -solve -quit (default strategy 1)
Presolve 9303 (-39037) rows, 5900 (-37630) columns and 31379 (-93847) elements
Perturbing problem by 0.001% of 7521.1615 - largest nonzero change 0.00098447629 ( 0.13075086%) - largest zero change 0.00098134442
0  Obj 0.17913789 Primal inf 19224.223 (2390)
261  Obj 230.94889 Primal inf 10432.99 (1589)
522  Obj 2532.6555 Primal inf 12009.245 (1327)
783  Obj 2532.8142 Primal inf 12922.203 (1301)
1044  Obj 2777.2043 Primal inf 11513.802 (1234)
1305  Obj 3370.6978 Primal inf 10193.619 (1268)
1566  Obj 3772.3896 Primal inf 8973.9702 (1240)
1827  Obj 4042.4648 Primal inf 7455.2827 (1251)
2088  Obj 4097.6141 Primal inf 4879.6382 (981)
2349  Obj 4097.6679 Primal inf 4619.7505 (1237)
2610  Obj 4097.7044 Primal inf 5098.6027 (977)
2871  Obj 4097.7413 Primal inf 3677.498 (698)
3132  Obj 4825.3228 Primal inf 9135.3526 (758)
3393  Obj 4825.3626 Primal inf 5539.7036 (785)
3654  Obj 4829.4987 Primal inf 1402.8917 (309)
3915  Obj 4940.6401 Primal inf 0.00048908855 (10)
3920  Obj 4940.6401
3920  Obj 4938.9081 Dual inf 5.173759e-07 (1)
Optimal - objective value 4938.9081
After Postsolve, objective 4938.9081, infeasibilities - dual 2.3839979e-05 (1), primal 0.00021914957 (4)
Presolved model was optimal, full model needs cleaning up
0  Obj 4938.9081 Primal inf 454.2389 (58) Dual inf 2.7596162e-06 (1)
0  Obj 4938.9081 Primal inf 454.2389 (58) Dual inf 7.2879919e+14 (2593)
200  Obj 5071.5222 Primal inf 3.9283424e-07 (5) Dual inf 2.1953872e+13 (1290)
400  Obj 4939.1829 Primal inf 7.2451179e-06 (2) Dual inf 1.5069488e+15 (801)
582  Obj 4938.9081
Optimal - objective value 4938.9081
Optimal objective 4938.908105 - 4502 iterations time 0.662, Presolve 0.11
Total time (CPU seconds):       0.66   (Wallclock seconds):       0.70

OPTIMAL::TerminationStatusCode = 1

In [7]:
dbpath = normpath(joinpath(pathof(NemoMod), "..", "..", "test", "storage_test.sqlite"))
db = SQLite.DB(dbpath)

SQLite.DB("/Users/jsyme/.julia/packages/NemoMod/OkhEV/test/storage_test.sqlite")

In [32]:
tables_avail = SQLite.tables(db)[:name] 
tables_avail[startswith.(tables_avail, "v")]

86-element Array{String,1}:
 "EMISSION"
 "FUEL"
 "MODE_OF_OPERATION"
 "REGION"
 "TECHNOLOGY"
 "TIMESLICE"
 "TSGROUP1"
 "TSGROUP2"
 "YEAR"
 "YearSplit"
 "VariableCost"
 "TradeRoute"
 "TotalTechnologyModelPeriodActivityUpperLimit"
 ⋮
 "MinimumUtilization"
 "InterestRateStorage"
 "InterestRateTechnology"
 "TransmissionLine"
 "vdemandnn"
 "vnewcapacity"
 "vtotalcapacityannual"
 "vproductionbytechnologyannual"
 "vproductionnn"
 "vusebytechnologyannual"
 "vusenn"
 "vtotaldiscountedcost"

In [37]:
df_times = DBInterface.execute(db, "select * from TIMESLICE") |> DataFrame;
#println.(df_times[:, :val])
df_cur = DBInterface.execute(db, "select * from CapacityOfOneTechnologyUnit") |> DataFrame;
df_cur

0×5 DataFrame

In [59]:
df_tmp = DBInterface.execute(db, "select * from vproductionbytechnologyannual") |> DataFrame;

In [38]:
#SQLite.columns(db, "EMISSION")

dict_tables = Dict{String, DataFrame}()
tables_vary = []


for k in SQLite.tables(db)[1]
    df_tmp = DBInterface.execute(db, "select * from $(k)") |> DataFrame
    dict_tables[k] = df_tmp
    
    if nrow(df_tmp) > 0
        push!(tables_vary, k)
    end
    
    #fp_out = joinpath(dir_out, "$(k).csv")
    
    #if !ispath(fp_out)
    #    CSV.write(fp_out, df_tmp)
    #end
    
    print("\nFinished with table $(k)...\n")
end;

Finished with table EMISSION...

Finished with table FUEL...

Finished with table MODE_OF_OPERATION...

Finished with table REGION...

Finished with table TECHNOLOGY...

Finished with table TIMESLICE...

Finished with table TSGROUP1...

Finished with table TSGROUP2...

Finished with table YEAR...

Finished with table YearSplit...

Finished with table VariableCost...

Finished with table TradeRoute...

Finished with table TotalTechnologyModelPeriodActivityUpperLimit...

Finished with table TotalTechnologyModelPeriodActivityLowerLimit...

Finished with table TotalTechnologyAnnualActivityUpperLimit...

Finished with table TotalTechnologyAnnualActivityLowerLimit...

Finished with table TotalAnnualMinCapacityInvestment...

Finished with table TotalAnnualMinCapacityInvestmentStorage...

Finished with table TotalAnnualMinCapacity...

Finished with table TotalAnnualMinCapacityStorage...

Finished with table TotalAnnualMaxCapacityInvestment...

Finished with table TotalAnnualMaxCapacityInvestmentStorage...

Finished with table TotalAnnualMaxCapacity...

Finished with table TotalAnnualMaxCapacityStorage...

Finished with table TechnologyToStorage...

Finished with table TechnologyFromStorage...

Finished with table StorageMaxDischargeRate...

Finished with table StorageMaxChargeRate...

Finished with table StorageLevelStart...

Finished with table SpecifiedDemandProfile...

Finished with table SpecifiedAnnualDemand...

Finished with table ResidualStorageCapacity...

Finished with table ResidualCapacity...

Finished with table ReserveMarginTagTechnology...

Finished with table ReserveMarginTagFuel...

Finished with table ReserveMargin...

Finished with table RETagTechnology...

Finished with table RETagFuel...

Finished with table REMinProductionTarget...

Finished with table OutputActivityRatio...

Finished with table OperationalLifeStorage...

Finished with table OperationalLife...

Finished with table ModelPeriodExogenousEmission...

Finished with table ModelPeriodEmissionLimit...

Finished with table MinStorageCharge...

Finished with table LTsGroup...

Finished with table sqlite_sequence...

Finished with table InputActivityRatio...

Finished with table FixedCost...

Finished with table EmissionsPenalty...

Finished with table EmissionActivityRatio...

Finished with table DiscountRate...

Finished with table DepreciationMethod...

Finished with table CapitalCostStorage...

Finished with table CapitalCost...

Finished with table CapacityToActivityUnit...

Finished with table CapacityOfOneTechnologyUnit...

Finished with table CapacityFactor...

Finished with table AvailabilityFactor...

Finished with table AnnualExogenousEmission...

Finished with table AnnualEmissionLimit...

Finished with table AccumulatedAnnualDemand...

Finished with table DefaultParams...

Finished with table NODE...

Finished with table TransmissionModelingEnabled...

Finished with table NodalDistributionDemand...

Finished with table NodalDistributionStorageCapacity...

Finished with table NodalDistributionTechnologyCapacity...

Finished with table StorageFullLoadHours...

Finished with table Version...

Finished with table STORAGE...

Finished with table TransmissionCapacityToActivityUnit...

Finished with table RampRate...

Finished with table RampingReset...

Finished with table MinimumUtilization...

Finished with table InterestRateStorage...

Finished with table InterestRateTechnology...

Finished with table TransmissionLine...

Finished with table vdemandnn...

Finished with table vnewcapacity...

Finished with table vtotalcapacityannual...

Finished with table vproductionbytechnologyannual...

Finished with table vproductionnn...

Finished with table vusebytechnologyannual...

Finished with table vusenn...

Finished with table vtotaldiscountedcost...

In [112]:
#dict_tables["LTsGroup"]
dict_

In [146]:
dict_tables["ReserveMargin"]

10×4 DataFrame
 Row │ id     r       y       val
     │ Int64  String  String  Float64
─────┼────────────────────────────────
   1 │     1  1       2020       1.25
   2 │     2  1       2021       1.25
   3 │     3  1       2022       1.25
   4 │     4  1       2023       1.25
   5 │     5  1       2024       1.25
   6 │     6  1       2025       1.25
   7 │     7  1       2026       1.25
   8 │     8  1       2027       1.25
   9 │     9  1       2028       1.25
  10 │    10  1       2029       1.25

In [133]:
#dict_tables["YearSplit"]
CSV.write(
    "/Users/jsyme/Documents/Projects/git_jbus/lac_decarbonization/ref/nemo_mod/default_param.csv",
    dict_tables["DefaultParams"]
)

"/Users/jsyme/Documents/Projects/git_jbus/lac_decarbonization/ref/nemo_mod/default_param.csv"

In [84]:
#filter(x -> (occursin("winterwe", x)), dict_tables["TIMESLICE"][:, :val]);
#filter(x -> ((x[:f] == "electricity") & (x[:y] == "2020")), dict_tables["SpecifiedDemandProfile"])[:, :val]
filter(x -> (x[:lorder] in [1, 2]), dict_tables["LTsGroup"])

8×5 DataFrame
 Row │ id     l          lorder  tg2      tg1
     │ Int64  String     Int64   String   String
─────┼───────────────────────────────────────────
   1 │     1  winterwe0       1  weekend  winter
   2 │     2  winterwe1       2  weekend  winter
   3 │    25  winterwd0       1  weekday  winter
   4 │    26  winterwd1       2  weekday  winter
   5 │    49  summerwe0       1  weekend  summer
   6 │    50  summerwe1       2  weekend  summer
   7 │    73  summerwd0       1  weekday  summer
   8 │    74  summerwd1       2  weekday  summer

In [145]:
#filter(x -> ((x["t"] == "solar")), dict_tables["CapacityFactor"])
#df_tmp = dict_tables["CapacityFactor"]
#filter(x -> ((x[:t] != "solar") & (x[:y] == "2020")), df_tmp)
dict_tables["ReserveMarginTagFuel"]

10×5 DataFrame
 Row │ id     r       f            y       val
     │ Int64  String  String       String  Float64
─────┼─────────────────────────────────────────────
   1 │     1  1       electricity  2020        1.0
   2 │     2  1       electricity  2021        1.0
   3 │     3  1       electricity  2022        1.0
   4 │     4  1       electricity  2023        1.0
   5 │     5  1       electricity  2024        1.0
   6 │     6  1       electricity  2025        1.0
   7 │     7  1       electricity  2026        1.0
   8 │     8  1       electricity  2027        1.0
   9 │     9  1       electricity  2028        1.0
  10 │    10  1       electricity  2029        1.0

In [142]:
#println.(sort(tables_vary))fg
dict_tables["CapacityFactor"]

960×6 DataFrame
 Row │ id     r       t       l           y       val
     │ Int64  String  String  String      String  Float64
─────┼────────────────────────────────────────────────────
   1 │     1  1       solar   winterwe0   2020        0.0
   2 │     2  1       solar   winterwe1   2020        0.0
   3 │     3  1       solar   winterwe2   2020        0.0
   4 │     4  1       solar   winterwe3   2020        0.0
   5 │     5  1       solar   winterwe4   2020        0.0
   6 │     6  1       solar   winterwe5   2020        0.0
   7 │     7  1       solar   winterwe6   2020        1.0
   8 │     8  1       solar   winterwe7   2020        1.0
   9 │     9  1       solar   winterwe8   2020        1.0
  10 │    10  1       solar   winterwe9   2020        1.0
  11 │    11  1       solar   winterwe10  2020        1.0
  ⋮  │   ⋮      ⋮       ⋮         ⋮         ⋮        ⋮
 951 │   951  1       solar   summerwd14  2029        1.0
 952 │   952  1       solar   summerwd15  2029        1.0
 953 │   953  1       solar   summerwd16  2029        1.0
 954 │   954  1       solar   summerwd17  2029        1.0
 955 │   955  1       solar   summerwd18  2029        0.0
 956 │   956  1       solar   summerwd19  2029        0.0
 957 │   957  1       solar   summerwd20  2029        0.0
 958 │   958  1       solar   summerwd21  2029        0.0
 959 │   959  1       solar   summerwd22  2029        0.0
 960 │   960  1       solar   summerwd23  2029        0.0
                                          939 rows omitted

In [33]:
[x for x in keys(dict_tables) if "$(x[1])" == "v"]

8-element Array{String,1}:
 "vusenn"
 "vdemandnn"
 "vproductionnn"
 "vtotaldiscountedcost"
 "vusebytechnologyannual"
 "vproductionbytechnologyannual"
 "vnewcapacity"
 "vtotalcapacityannual"

In [32]:
for k in sort(collect(keys(dict_tables)))
    print("\n$(k)")
end

AccumulatedAnnualDemand
AnnualEmissionLimit
AnnualExogenousEmission
AvailabilityFactor
CapacityFactor
CapacityOfOneTechnologyUnit
CapacityToActivityUnit
CapitalCost
CapitalCostStorage
DefaultParams
DepreciationMethod
DiscountRate
EMISSION
EmissionActivityRatio
EmissionsPenalty
FUEL
FixedCost
InputActivityRatio
InterestRateStorage
InterestRateTechnology
LTsGroup
MODE_OF_OPERATION
MinStorageCharge
MinimumUtilization
ModelPeriodEmissionLimit
ModelPeriodExogenousEmission
NODE
NodalDistributionDemand
NodalDistributionStorageCapacity
NodalDistributionTechnologyCapacity
OperationalLife
OperationalLifeStorage
OutputActivityRatio
REGION
REMinProductionTarget
RETagFuel
RETagTechnology
RampRate
RampingReset
ReserveMargin
ReserveMarginTagFuel
ReserveMarginTagTechnology
ResidualCapacity
ResidualStorageCapacity
STORAGE
SpecifiedAnnualDemand
SpecifiedDemandProfile
StorageFullLoadHours
StorageLevelStart
StorageMaxChargeRate
StorageMaxDischargeRate
TECHNOLOGY
TIMESLICE
TSGROUP1
TSGROUP2
TechnologyFromStorage
TechnologyToStorage
TotalAnnualMaxCapacity
TotalAnnualMaxCapacityInvestment
TotalAnnualMaxCapacityInvestmentStorage
TotalAnnualMaxCapacityStorage
TotalAnnualMinCapacity
TotalAnnualMinCapacityInvestment
TotalAnnualMinCapacityInvestmentStorage
TotalAnnualMinCapacityStorage
TotalTechnologyAnnualActivityLowerLimit
TotalTechnologyAnnualActivityUpperLimit
TotalTechnologyModelPeriodActivityLowerLimit
TotalTechnologyModelPeriodActivityUpperLimit
TradeRoute
TransmissionCapacityToActivityUnit
TransmissionLine
TransmissionModelingEnabled
VariableCost
Version
YEAR
YearSplit
sqlite_sequence
vdemandnn
vnewcapacity
vproductionbytechnologyannual
vproductionnn
vtotalcapacityannual
vtotaldiscountedcost
vusebytechnologyannual
vusenn