In [3]:
using Revise
!(pwd() in LOAD_PATH) ? push!(LOAD_PATH, pwd()) : nothing
include("SISEPUEDEPJSF.jl")
import .SISEPUEDEPJSF

ENV["COLUMNS"] = 240


using Pkg
Pkg.activate(".")


using DataFrames
using NemoMod
using SQLite
using Cbc
using JuMP
using Gurobi
using GAMS
using HiGHS

include("setup_analysis.jl")

WARNING: replacing module SISEPUEDEPJSF.
  Activating project at `~/Documents/Projects/git_jbus/sisepuede/julia`

"/Users/jsyme/Documents/Projects/git_jbus/sisepuede/tmp/nemomod_intermediate_database.sqlite"

In [4]:
fp_sqlite = "/Users/jsyme/Documents/Projects/git_jbus/sisepuede/tmp/nemomod_intermediate_database.sqlite"
fp_sqlite_orig = "/Users/jsyme/Documents/Projects/git_jbus/sisepuede/tmp/nemomod_intermediate_database_ORIG.sqlite"


# USE TO REINITIALIZE fp_sqlite
# cp(fp_sqlite_orig, fp_sqlite, force = true)
cp(fp_sqlite, fp_sqlite_orig, force = true)
#

"/Users/jsyme/Documents/Projects/git_jbus/sisepuede/tmp/nemomod_intermediate_database_ORIG.sqlite"

In [13]:
#cp(fp_sqlite, fp_sqlite_orig, force = true)
#SQLite.close(db)

"/Users/jsyme/Documents/Projects/git_jbus/sisepuede/tmp/nemomod_intermediate_database_ORIG.sqlite"

In [5]:
db = SQLite.DB(fp_sqlite)
#db_orig = SQLite.DB(fp_sqlite_orig)

SQLite.DB("/Users/jsyme/Documents/Projects/git_jbus/sisepuede/tmp/nemomod_intermediate_database.sqlite")

In [6]:
dict_tables = Dict()

tabs = [x.name for x in SQLite.tables(db)]
table_name = 0
tabs_populated = Vector{String}()
for k in 1:length(tabs)
    table_name = tabs[k]
    df_tmp = DBInterface.execute(db, "select * from $(table_name)") |> DataFrame
    dict_tables[table_name] = df_tmp
    
    (nrow(df_tmp) > 0) ? push!(tabs_populated, table_name) : nothing
end


tabs = sort([x for x in tabs_populated if (x != uppercase(x)) & !startswith(x, "v")]);
#println.(tabs);

In [7]:
# df = dict_tables["SpecifiedAnnualDemand"]
# filter((x -> (x[:y] in ["1000", "1001"])), df)
df = get(dict_tables, "MinShareProduction", nothing)
sum(filter(x -> ((x[:y] == "1001") & (x[:f] == "fuel_electricity")), df)[:, :val])

0.9999999999999999

In [7]:
df = get(dict_tables, "MinShareProduction", nothing)
sum(filter(x -> ((x[:y] == "1006") & (x[:f] == "fuel_electricity")), df)[:, :val])

0.9886002967055907

In [13]:
#cp(fp_sqlite_orig, fp_sqlite, force = true)

df = dict_tables["TotalAnnualMaxCapacityInvestment"]#TotalAnnualMaxCapacityInvestment
filter(x -> (x[:t] == "pp_hydropower"), df)

45×5 DataFrame
 Row │ id     r       t              y       val
     │ Int64  String  String         String  Float64
─────┼───────────────────────────────────────────────
   1 │    13  india   pp_hydropower  1011    8.47805
   2 │    15  india   pp_hydropower  1012    7.96937
   3 │    17  india   pp_hydropower  1013    7.46069
   4 │    19  india   pp_hydropower  1014    6.952
   5 │    21  india   pp_hydropower  1015    6.44332
   6 │    23  india   pp_hydropower  1016    5.93464
   7 │    25  india   pp_hydropower  1017    5.42595
   8 │    27  india   pp_hydropower  1018    4.91727
   9 │    29  india   pp_hydropower  1019    4.40859
  10 │    31  india   pp_hydropower  1020    3.8999
  11 │    33  india   pp_hydropower  1021    3.39122
  ⋮  │   ⋮      ⋮           ⋮          ⋮        ⋮
  36 │    83  india   pp_hydropower  1046    0.0
  37 │    85  india   pp_hydropower  1047    0.0
  38 │    87  india   pp_hydropower  1048    0.0
  39 │    89  india   pp_hydropower  1049    0.0
  40 │    91  india   pp_hydropower  1050    0.0
  41 │    93  india   pp_hydropower  1051    0.0
  42 │    95  india   pp_hydropower  1052    0.0
  43 │    97  india   pp_hydropower  1053    0.0
  44 │    99  india   pp_hydropower  1054    0.0
  45 │   101  india   pp_hydropower  1055    0.0
                                      24 rows omitted

In [11]:
#dict_tables["MinShareProduction"]
#dict_tables["TotalAnnualMaxCapacityInvestment"][:, :val] *= 2
filter(x -> (x[:id] in 37:79), df)

43×5 DataFrame
 Row │ id     r       t              y       val
     │ Int64  String  String         String  Float64
─────┼────────────────────────────────────────────────
   1 │    37  india   pp_hydropower  1023    2.37385
   2 │    38  india   pp_biomass     1024    0.0
   3 │    39  india   pp_hydropower  1024    1.86517
   4 │    40  india   pp_biomass     1025    0.0
   5 │    41  india   pp_hydropower  1025    1.35649
   6 │    42  india   pp_biomass     1026    0.0
   7 │    43  india   pp_hydropower  1026    0.847805
   8 │    44  india   pp_biomass     1027    0.0
   9 │    45  india   pp_hydropower  1027    0.339122
  10 │    46  india   pp_biomass     1028    0.0
  11 │    47  india   pp_hydropower  1028    0.0
  ⋮  │   ⋮      ⋮           ⋮          ⋮        ⋮
  34 │    70  india   pp_biomass     1040    0.0
  35 │    71  india   pp_hydropower  1040    0.0
  36 │    72  india   pp_biomass     1041    0.0
  37 │    73  india   pp_hydropower  1041    0.0
  38 │    74  india   pp_biomass     1042    0.0
  39 │    75  india   pp_hydropower  1042    0.0
  40 │    76  india   pp_biomass     1043    0.0
  41 │    77  india   pp_hydropower  1043    0.0
  42 │    78  india   pp_biomass     1044    0.0
  43 │    79  india   pp_hydropower  1044    0.0
                                       22 rows omitted

In [73]:
SQLite.close(db)
fp_sqlite

"/Users/jsyme/Documents/Projects/git_jbus/sisepuede/tmp/nemomod_intermediate_database.sqlite"

In [21]:
SQLite.DBInterface.execute(db, "delete from TotalAnnualMaxCapacityInvestment;");
# REMOVED:
# MinShareProduction !
# TotalTechnologyAnnualActivityUpperLimit !
# TotalAnnualMaxCapacityInvestment
# REMinProductionTarget 
# TotalAnnualMaxCapacityInvestmentStorage
# TotalTechnologyAnnualActivityLowerLimit
# TotalAnnualMaxCapacity

In [41]:
dict_tables["TotalAnnualMaxCapacity"]

0×5 DataFrame
 Row │ id      r        t        y        val
     │ Int64?  String?  String?  String?  Float64?
─────┴─────────────────────────────────────────────

In [20]:
model = Model(HiGHS.Optimizer); #set_silent(model)
set_time_limit_sec(model, 900)


@time NemoMod.calculatescenario(
    fp_sqlite,
    calcyears = collect(1033:1040),
    jumpmodel = model,
    numprocs = 1,
    varstosave = "vdemandnn, vnewcapacity, vtotalcapacityannual, vproductionbytechnologyannual, vproductionnn, vusebytechnologyannual, vusenn, vtotaldiscountedcost, vannualtechnologyemission"
)

2023-18-Dec 11:17:48.101 Started modeling scenario.
2023-18-Dec 11:17:48.101 Validated run-time arguments.
2023-18-Dec 11:17:48.102 Connected to scenario database. Path = /Users/jsyme/Documents/Projects/git_jbus/sisepuede/tmp/nemomod_intermediate_database.sqlite.
2023-18-Dec 11:17:48.107 Dropped pre-existing result tables from database.
2023-18-Dec 11:17:48.107 Verified that transmission modeling is not enabled.
2023-18-Dec 11:17:48.343 Created parameter views and indices.
2023-18-Dec 11:17:48.360 Created temporary tables.
2023-18-Dec 11:17:48.865 Executed core database queries.
2023-18-Dec 11:17:48.866 Defined dimensions.
2023-18-Dec 11:17:48.869 Defined demand variables.
2023-18-Dec 11:17:48.871 Defined storage variables.
2023-18-Dec 11:17:48.871 Defined capacity variables.

┌ Warning: Model period activity upper limits for technologies (TotalTechnologyModelPeriodActivityUpperLimit parameter) are not enforced when modeling selected years.
└ @ NemoMod ~/.julia/packages/NemoMod/d2ky8/src/scenario_calculation.jl:464

2023-18-Dec 11:17:49.240 Defined activity variables.
2023-18-Dec 11:17:49.242 Defined costing variables.
2023-18-Dec 11:17:49.242 Defined reserve margin variables.
2023-18-Dec 11:17:49.247 Defined emissions variables.
2023-18-Dec 11:17:49.247 Defined combined nodal and non-nodal variables.
2023-18-Dec 11:17:49.247 Finished defining model variables.
2023-18-Dec 11:17:49.247 Scheduled task to add constraints to model.
2023-18-Dec 11:17:49.247 Queued constraint CAa1_TotalNewCapacity for creation.
2023-18-Dec 11:17:49.247 Queued constraint CAa2_TotalAnnualCapacity for creation.
2023-18-Dec 11:17:49.247 Queued constraint VRateOfActivity1 for creation.
2023-18-Dec 11:17:49.247 Queued constraint RampRate for creation.
2023-18-Dec 11:17:49.247 Queued constraint CAa3_TotalActivityOfEachTechnology for creation.
2023-18-Dec 11:17:49.248 Queued constraint CAa4_Constraint_Capacity for creation.
2023-18-Dec 11:17:49.248 Queued constraint MinimumTechnologyUtilization for creation.
2023-18-Dec 11:17:49.248 Queued constraint EBa2_RateOfFuelProduction2 for creation.
2023-18-Dec 11:17:49.443 Queued constraint GenerationAnnualNN for creation.
2023-18-Dec 11:17:49.444 Queued constraint ReGenerationAnnualNN for creation.
2023-18-Dec 11:17:49.444 Queued constraint EBa3_RateOfFuelProduction3 for creation.
2023-18-Dec 11:17:49.444 Queued constraint VRateOfProduction1 for creation.
2023-18-Dec 11:17:49.444 Queued constraint EBa5_RateOfFuelUse2 for creation.
2023-18-Dec 11:17:49.444 Queued constraint EBa6_RateOfFuelUse3 for creation.
2023-18-Dec 11:17:49.444 Queued constraint VRateOfUse1 for creation.
2023-18-Dec 11:17:49.444 Queued constraint EBa7_EnergyBalanceEachTS1 for creation.
2023-18-Dec 11:17:49.444 Queued constraint EBa8_EnergyBalanceEachTS2 for creation.
2023-18-Dec 11:17:49.444 Queued constraint EBa9_EnergyBalanceEachTS3 for creation.
2023-18-Dec 11:17:49.444 Queued constraint EBa11_EnergyBalanceEachTS5 for creation.
2023-18-Dec 11:17:49.445 Queued constraint EBb0_EnergyBalanceEachYear for creation.
2023-18-Dec 11:17:49.445 Queued constraint EBb1_EnergyBalanceEachYear for creation.
2023-18-Dec 11:17:49.450 Queued constraint EBb2_EnergyBalanceEachYear for creation.
2023-18-Dec 11:17:49.463 Queued constraint EBb3_EnergyBalanceEachYear for creation.
2023-18-Dec 11:17:49.463 Queued constraint EBb5_EnergyBalanceEachYear for creation.
2023-18-Dec 11:17:49.472 Queued constraint Acc3_AverageAnnualRateOfActivity for creation.
2023-18-Dec 11:17:49.472 Queued constraint NS1_RateOfStorageCharge for creation.
2023-18-Dec 11:17:49.476 Queued constraint NS2_RateOfStorageDischarge for creation.
2023-18-Dec 11:17:49.476 Queued constraint NS3_StorageLevelTsGroup1Start for creation.
2023-18-Dec 11:17:49.654 Queued constraint NS4_StorageLevelTsGroup2Start for creation.
2023-18-Dec 11:17:49.654 Queued constraint NS5_StorageLevelTimesliceEnd for creation.
2023-18-Dec 11:17:49.654 Queued constraint NS6_StorageLevelTsGroup2End for creation.
2023-18-Dec 11:17:49.654 Queued constraint NS6a_StorageLevelTsGroup2NetZero for creation.
2023-18-Dec 11:17:49.654 Queued constraint NS7_StorageLevelTsGroup1End for creation.
2023-18-Dec 11:17:49.654 Queued constraint NS7a_StorageLevelTsGroup1NetZero for creation.
2023-18-Dec 11:17:49.654 Queued constraint NS8_StorageLevelYearEnd for creation.
2023-18-Dec 11:17:49.654 Queued constraint NS8a_StorageLevelYearEndNetZero for creation.
2023-18-Dec 11:17:49.654 Queued constraint SI1_StorageUpperLimit for creation.
2023-18-Dec 11:17:49.654 Queued constraint SI2_StorageLowerLimit for creation.
2023-18-Dec 11:17:49.655 Queued constraint SI3_TotalNewStorage for creation.
2023-18-Dec 11:17:49.655 Queued constraint NS9a_StorageLevelTsLowerLimit for creation.
2023-18-Dec 11:17:49.716 Queued constraint NS9b_StorageLevelTsUpperLimit for creation.
2023-18-Dec 11:17:49.716 Queued constraint NS10_StorageChargeLimit for creation.
2023-18-Dec 11:17:49.716 Queued constraint NS11_StorageDischargeLimit for creation.
2023-18-Dec 11:17:49.716 Queued constraint NS12a_StorageLevelTsGroup2LowerLimit for creation.
2023-18-Dec 11:17:49.716 Queued constraint NS12b_StorageLevelTsGroup2UpperLimit for creation.
2023-18-Dec 11:17:49.716 Queued constraint NS13a_StorageLevelTsGroup1LowerLimit for creation.
2023-18-Dec 11:17:49.716 Queued constraint NS13b_StorageLevelTsGroup1UpperLimit for creation.
2023-18-Dec 11:17:49.716 Queued constraint NS14_MaxStorageCapacity for creation.
2023-18-Dec 11:17:49.716 Queued constraint NS15_MinStorageCapacity for creation.
2023-18-Dec 11:17:49.717 Queued constraint NS16_MaxStorageCapacityInvestment for creation.
2023-18-Dec 11:17:49.717 Queued constraint NS17_MinStorageCapacityInvestment for creation.
2023-18-Dec 11:17:49.717 Queued constraint NS18_FullLoadHours for creation.
2023-18-Dec 11:17:49.717 Queued constraint SI4a_FinancingStorage for creation.
2023-18-Dec 11:17:49.718 Queued constraint SI4_UndiscountedCapitalInvestmentStorage for creation.
2023-18-Dec 11:17:49.718 Queued constraint SI5_DiscountingCapitalInvestmentStorage for creation.
2023-18-Dec 11:17:49.730 Queued constraint SI6_SalvageValueStorageAtEndOfPeriod1 for creation.
2023-18-Dec 11:17:49.730 Queued constraint SI7_SalvageValueStorageAtEndOfPeriod2 for creation.
2023-18-Dec 11:17:49.730 Queued constraint SI8_SalvageValueStorageAtEndOfPeriod3 for creation.
2023-18-Dec 11:17:49.731 Queued constraint SI9_SalvageValueStorageDiscountedToStartYear for creation.
2023-18-Dec 11:17:49.731 Queued constraint SI10_TotalDiscountedCostByStorage for creation.
2023-18-Dec 11:17:49.731 Queued constraint CC1a_FinancingTechnology for creation.
2023-18-Dec 11:17:49.732 Queued constraint CC1_UndiscountedCapitalInvestment for creation.
2023-18-Dec 11:17:49.764 Queued constraint CC2_DiscountingCapitalInvestment for creation.
2023-18-Dec 11:17:49.764 Queued constraint SV1_SalvageValueAtEndOfPeriod1 for creation.
2023-18-Dec 11:17:49.764 Queued constraint SV2_SalvageValueAtEndOfPeriod2 for creation.
2023-18-Dec 11:17:49.764 Queued constraint SV3_SalvageValueAtEndOfPeriod3 for creation.
2023-18-Dec 11:17:49.776 Queued constraint SV4_SalvageValueDiscountedToStartYear for creation.
2023-18-Dec 11:17:49.776 Queued constraint OC1_OperatingCostsVariable for creation.
2023-18-Dec 11:17:49.800 Queued constraint OC2_OperatingCostsFixedAnnual for creation.
2023-18-Dec 11:17:49.801 Queued constraint OC3_OperatingCostsTotalAnnual for creation.
2023-18-Dec 11:17:49.802 Queued constraint OC4_DiscountedOperatingCostsTotalAnnual for creation.
2023-18-Dec 11:17:49.954 Queued constraint TDC1_TotalDiscountedCostByTechnology for creation.
2023-18-Dec 11:17:49.954 Queued constraint TDC2_TotalDiscountedCost for creation.
2023-18-Dec 11:17:49.955 Queued constraint TCC1_TotalAnnualMaxCapacityConstraint for creation.
2023-18-Dec 11:17:49.955 Queued constraint TCC2_TotalAnnualMinCapacityConstraint for creation.
2023-18-Dec 11:17:49.955 Queued constraint NCC1_TotalAnnualMaxNewCapacityConstraint for creation.
2023-18-Dec 11:17:49.955 Queued constraint NCC2_TotalAnnualMinNewCapacityConstraint for creation.
2023-18-Dec 11:17:49.955 Queued constraint AAC1_TotalAnnualTechnologyActivity for creation.
2023-18-Dec 11:17:49.955 Queued constraint AAC2_TotalAnnualTechnologyActivityUpperLimit for creation.
2023-18-Dec 11:17:49.955 Queued constraint AAC3_TotalAnnualTechnologyActivityLowerLimit for creation.
2023-18-Dec 11:17:49.955 Queued constraint RM1_ReserveMargin_TechnologiesIncluded_In_Activity_Units for creation.
2023-18-Dec 11:17:49.969 Queued constraint RM2_ReserveMargin_FuelsIncluded for creation.
2023-18-Dec 11:17:49.969 Queued constraint RM3_ReserveMargin_Constraint for creation.
2023-18-Dec 11:17:49.969 Queued constraint RE1_FuelProductionByTechnologyAnnual for creation.
2023-18-Dec 11:17:49.969 Queued constraint FuelUseByTechnologyAnnual for creation.
2023-18-Dec 11:17:49.969 Queued constraint RE2_ProductionTarget for creation.
2023-18-Dec 11:17:49.970 Queued constraint RE3_ProductionTargetRG for creation.
2023-18-Dec 11:17:49.970 Queued constraint MinShareProduction for creation.
2023-18-Dec 11:17:49.970 Queued constraint E2a_AnnualEmissionProduction for creation.
2023-18-Dec 11:17:50.069 Queued constraint E2b_AnnualEmissionProduction for creation.
2023-18-Dec 11:17:50.069 Queued constraint E4_EmissionsPenaltyByTechnology for creation.
2023-18-Dec 11:17:50.069 Queued constraint E5_DiscountedEmissionsPenaltyByTechnology for creation.
2023-18-Dec 11:17:50.069 Queued constraint E6_EmissionsAccounting1 for creation.
2023-18-Dec 11:17:50.069 Queued constraint E7_EmissionsAccounting2 for creation.
2023-18-Dec 11:17:50.069 Queued constraint E8_AnnualEmissionsLimit for creation.
2023-18-Dec 11:17:50.070 Queued constraint E9_ModelPeriodEmissionsLimit for creation.
2023-18-Dec 11:17:50.070 Queued 96 standard constraints for creation.

┌ Warning: Model period emission limits (ModelPeriodEmissionLimit parameter) are not enforced when modeling selected years.
└ @ NemoMod ~/.julia/packages/NemoMod/d2ky8/src/scenario_calculation.jl:6181

2023-18-Dec 11:17:50.964 Finished scheduled task to add constraints to model.
2023-18-Dec 11:17:50.964 Added 96 standard constraints to model.
2023-18-Dec 11:17:50.964 Defined model objective.
Running HiGHS 1.5.1 [date: 1970-01-01, git hash: 93f1876e4]
Copyright (c) 2023 HiGHS under MIT licence terms
Presolving model
Problem status detected on presolve: Infeasible
Model   status      : Infeasible
Objective value     :  0.0000000000e+00
HiGHS run time      :          0.13
ERROR:   No invertible representation for getDualRay
2023-18-Dec 11:17:51.797 Solved model. Solver status = INFEASIBLE.
2023-18-Dec 11:17:51.797 Solver did not find an optimal solution for model. No results will be saved to database.
2023-18-Dec 11:17:51.800 Dropped temporary tables.
2023-18-Dec 11:17:51.800 Finished modeling scenario.
  3.698858 seconds (21.76 M allocations: 1.006 GiB)

INFEASIBLE::TerminationStatusCode = 2

In [52]:
SQLite.close(db)

In [102]:
df_tmp2 = DBInterface.execute(db, "select * from vproductionbytechnologyannual") |> DataFrame;

In [104]:
filter(x -> ((x[:y] in ["1001"]) & occursin("supply_fuel", x[:t])), df_tmp2)

10×6 DataFrame
 Row │ r         t                          f                   y       val    ⋯
     │ String    String                     String              String  Float6 ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ colombia  supply_fuel_wind           fuel_wind           1001       0.5 ⋯
   2 │ colombia  supply_fuel_diesel         fuel_diesel         1001     141.6
   3 │ colombia  supply_fuel_kerosene       fuel_kerosene       1001      25.9
   4 │ colombia  supply_fuel_solar          fuel_solar          1001       0.1
   5 │ colombia  supply_fuel_coal_deposits  fuel_coal_deposits  1001    2540.3 ⋯
   6 │ colombia  supply_fuel_electricity    fuel_electricity    1001       5.3
   7 │ colombia  supply_fuel_oil            fuel_oil            1001     120.9
   8 │ colombia  supply_fuel_natural_gas    fuel_natural_gas    1001       0.4
   9 │ colombia  supply_fuel_hydropower     fuel_hydropower     1001     565.0 ⋯
  10 │ colombia  supply_fuel_gasoline       fuel_gasoline       1001      82.8
                                                               2 columns omitted

In [37]:
dict_tables = Dict()
db = SQLite.DB(fp_sqlite)

tabs = [x.name for x in SQLite.tables(db)]
table_name = 0
tabs_populated = Vector{String}()
for k in 1:length(tabs)
    table_name = tabs[k]
    df_tmp = DBInterface.execute(db, "select * from $(table_name)") |> DataFrame
    dict_tables[table_name] = df_tmp
    
    (nrow(df_tmp) > 0) ? push!(tabs_populated, table_name) : nothing
end


tabs = sort([x for x in tabs_populated if (x != uppercase(x)) & !startswith(x, "v")])
println.(tabs);

CapacityFactor
CapitalCost
CapitalCostStorage
DefaultParams
EmissionActivityRatio
FixedCost
InputActivityRatio
LTsGroup
MinShareProduction
MinStorageCharge
OperationalLife
OperationalLifeStorage
OutputActivityRatio
REMinProductionTarget
RETagTechnology
ReserveMargin
ReserveMarginTagFuel
ReserveMarginTagTechnology
ResidualCapacity
ResidualStorageCapacity
SpecifiedAnnualDemand
SpecifiedDemandProfile
StorageLevelStart
TechnologyFromStorage
TechnologyToStorage
TotalAnnualMaxCapacityInvestment
TotalAnnualMaxCapacityInvestmentStorage
TotalTechnologyAnnualActivityLowerLimit
TotalTechnologyAnnualActivityUpperLimit
VariableCost
Version
YearSplit
sqlite_sequence

In [100]:
#dict_tables["SpecifiedAnnualDemand"][:, :val]
dict_tables["SpecifiedAnnualDemand"]

360-element Vector{Float64}:
 343.40338999388996
 166.260743240093
 317.57131828315437
 287.0634718536966
 348.50913428029935
 141.7188064967662
 143.84129468389045
 145.9714552970422
 148.11439856594149
 150.26794575662922
 152.4300156623278
 157.38204483949866
 162.3931849352637
   ⋮
 681.0166325448566
 694.930493915321
 709.9013470984116
 725.2084700921108
 740.8552346253726
 756.8455968452607
 773.1840637666146
 790.8844535054608
 808.9589037005766
 827.4138441791765
 846.2561859329517
 865.4933320302162

In [85]:
df_tmp = DBInterface.execute(db, "select * from MinShareProduction") |> DataFrame;
sum(filter(x -> ((x[:y] == "1006") & (x[:f] == "fuel_electricity")), df_tmp)[:, :val])

0.9933727066246939

In [86]:
tab_name = "MinShareProduction"
#df_tmp = DBInterface.execute(db, "select * from MinShareProduction") |> DataFrame;
# & (x[:f] in ["fuel_electricity"])
df = filter(x -> ((x[:y] == "1006")), get(dict_tables, tab_name, nothing))
#combine(groupby(df[:, [:t, :f, :val]], [:f]), :val => sum)

17×6 DataFrame
 Row │ id     r       t                                  f                             y       val
     │ Int64  String  String                             String                        String  Float64
─────┼────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │     7  mexico  pp_coal                            fuel_electricity              1006    0.0401529
   2 │    43  mexico  pp_gas                             fuel_electricity              1006    0.588903
   3 │    79  mexico  pp_geothermal                      fuel_electricity              1006    0.0156325
   4 │   115  mexico  pp_hydropower                      fuel_electricity              1006    0.112589
   5 │   151  mexico  pp_nuclear                         fuel_electricity              1006    0.0367622
   6 │   187  mexico  pp_oil                             fuel_electricity              1006    0.150896
   7 │   223  mexico  pp_solar                           fuel_electricity              1006    0.0403472
   8 │   259  mexico  supply_fuel_coal                   fuel_coal                     1006    0.389911
   9 │   295  mexico  supply_fuel_crude                  fuel_crude                    1006    0.0
  10 │   331  mexico  supply_fuel_diesel                 fuel_diesel                   1006    0.273843
  11 │   367  mexico  supply_fuel_electricity            fuel_electricity              1006    0.00808977
  12 │   403  mexico  supply_fuel_gasoline               fuel_gasoline                 1006    0.284711
  13 │   439  mexico  supply_fuel_hydrocarbon_gas_liqu…  fuel_hydrocarbon_gas_liquids  1006    0.0
  14 │   475  mexico  supply_fuel_hydrogen               fuel_hydrogen                 1006    0.00283688
  15 │   511  mexico  supply_fuel_kerosene               fuel_kerosene                 1006    0.253668
  16 │   547  mexico  supply_fuel_natural_gas            fuel_natural_gas              1006    0.442348
  17 │   583  mexico  supply_fuel_oil                    fuel_oil                      1006    0.00245795

In [105]:
dict_tables

CapacityFactor
CapitalCost
CapitalCostStorage
DefaultParams
EmissionActivityRatio
FixedCost
InputActivityRatio
LTsGroup
MinStorageCharge
OperationalLife
OperationalLifeStorage
OutputActivityRatio
RETagTechnology
ReserveMargin
ReserveMarginTagFuel
ReserveMarginTagTechnology
ResidualCapacity
ResidualStorageCapacity
SpecifiedAnnualDemand
SpecifiedDemandProfile
StorageLevelStart
TechnologyFromStorage
TechnologyToStorage
TotalAnnualMaxCapacity
TotalAnnualMaxCapacityInvestment
VariableCost
Version
YearSplit
sqlite_sequence

In [24]:
df_tmp = DBInterface.execute(db, "select * from TotalTechnologyAnnualActivityLowerLimit") |> DataFrame;
filter(x -> (x[:y] in ["1005", "1006", "1035"]), df_tmp)

7×5 DataFrame
 Row │ id     r       t                      y       val
     │ Int64  String  String                 String  Float64
─────┼───────────────────────────────────────────────────────
   1 │     6  brazil  pp_biogas              1005       0.0
   2 │     7  brazil  pp_biogas              1006       0.0
   3 │    36  brazil  pp_biogas              1035       0.0
   4 │    62  brazil  pp_hydropower          1035    1857.23
   5 │    68  brazil  pp_waste_incineration  1005       0.0
   6 │    69  brazil  pp_waste_incineration  1006       0.0
   7 │    98  brazil  pp_waste_incineration  1035       0.0

In [146]:
tables_check = []
for k in 1:length(tabs)
    table_name = tabs[k]
    
    (
        ("y" in names(dict_tables[table_name])) &
        (nrow(dict_tables[table_name]) > 0)
    ) ? push!(tables_check, table_name) : nothing
end

In [147]:
tables_check

19-element Vector{Any}:
 "YearSplit"
 "VariableCost"
 "TotalAnnualMaxCapacityInvestmentStorage"
 "SpecifiedDemandProfile"
 "SpecifiedAnnualDemand"
 "ResidualStorageCapacity"
 "ResidualCapacity"
 "ReserveMarginTagTechnology"
 "ReserveMarginTagFuel"
 "ReserveMargin"
 "RETagTechnology"
 "OutputActivityRatio"
 "MinStorageCharge"
 "InputActivityRatio"
 "FixedCost"
 "EmissionActivityRatio"
 "CapitalCostStorage"
 "CapitalCost"
 "CapacityFactor"

In [186]:
df = get(dict_tables, "REMinProductionTarget", nothing)
df
#filter(x -> (x[:y] == "1034"), df)

36×5 DataFrame
 Row │ id     r       f                 y       val
     │ Int64  String  String            String  Float64
─────┼────────────────────────────────────────────────────
   1 │     1  brazil  fuel_electricity  1000    0.0
   2 │     2  brazil  fuel_electricity  1001    0.0
   3 │     3  brazil  fuel_electricity  1002    0.0
   4 │     4  brazil  fuel_electricity  1003    0.0
   5 │     5  brazil  fuel_electricity  1004    0.0
   6 │     6  brazil  fuel_electricity  1005    0.0
   7 │     7  brazil  fuel_electricity  1006    0.0
   8 │     8  brazil  fuel_electricity  1007    0.0
   9 │     9  brazil  fuel_electricity  1008    0.0
  10 │    10  brazil  fuel_electricity  1009    0.0
  11 │    11  brazil  fuel_electricity  1010    0.0
  ⋮  │   ⋮      ⋮            ⋮            ⋮         ⋮
  27 │    27  brazil  fuel_electricity  1026    0.560869
  28 │    28  brazil  fuel_electricity  1027    0.595923
  29 │    29  brazil  fuel_electricity  1028    0.630978
  30 │    30  brazil  fuel_electricity  1029    0.666032
  31 │    31  brazil  fuel_electricity  1030    0.701086
  32 │    32  brazil  fuel_electricity  1031    0.73614
  33 │    33  brazil  fuel_electricity  1032    0.771195
  34 │    34  brazil  fuel_electricity  1033    0.806249
  35 │    35  brazil  fuel_electricity  1034    0.841303
  36 │    36  brazil  fuel_electricity  1035    0.876358
                                           15 rows omitted

In [95]:
df = get(dict_tables, "SpecifiedAnnualDemand", nothing)
filter(x -> (x[:y] == "1035"), df)

60×7 DataFrame
 Row │ id     r       t                                  f                             m         y       val
     │ Int64  String  String                             String                        String    String  Float64
─────┼───────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │    36  brazil  fp_hydrogen_electrolysis           fuel_electricity              generate  1035    1.56127
   2 │    72  brazil  fp_hydrogen_gasification           fuel_coal                     generate  1035    1.967
   3 │   108  brazil  fp_hydrogen_reformation            fuel_natural_gas              generate  1035    1.315
   4 │   144  brazil  fp_natural_gas                     fuel_electricity              generate  1035    0.0106328
   5 │   180  brazil  fp_natural_gas                     fuel_natural_gas_unprocessed  generate  1035    1.0
   6 │   216  brazil  fp_petroleum_refinement            fuel_crude                    generate  1035    1.08696
   7 │   252  brazil  me_coal                            fuel_coal_deposits            generate  1035    1.0023
   8 │   288  brazil  me_coal                            fuel_diesel                   generate  1035    0.00782609
   9 │   324  brazil  me_coal                            fuel_electricity              generate  1035    0.00882271
  10 │   360  brazil  me_coal                            fuel_gasoline                 generate  1035    0.000460358
  11 │   396  brazil  me_coal                            fuel_natural_gas              generate  1035    0.00506394
  ⋮  │   ⋮      ⋮                     ⋮                               ⋮                   ⋮        ⋮          ⋮
  51 │  1836  brazil  supply_fuel_kerosene               fuel_QUANTITY_PRODUCED        generate  1035    1.0
  52 │  1872  brazil  supply_fuel_natural_gas            fuel_QUANTITY_PRODUCED        generate  1035    1.0
  53 │  1908  brazil  supply_fuel_natural_gas_unproces…  fuel_QUANTITY_PRODUCED        generate  1035    1.0
  54 │  1944  brazil  supply_fuel_nuclear                fuel_QUANTITY_PRODUCED        generate  1035    1.0
  55 │  1980  brazil  supply_fuel_ocean                  fuel_QUANTITY_PRODUCED        generate  1035    1.0
  56 │  2016  brazil  supply_fuel_oil                    fuel_QUANTITY_PRODUCED        generate  1035    1.0
  57 │  2052  brazil  supply_fuel_other                  fuel_QUANTITY_PRODUCED        generate  1035    1.0
  58 │  2088  brazil  supply_fuel_solar                  fuel_QUANTITY_PRODUCED        generate  1035    1.0
  59 │  2124  brazil  supply_fuel_waste                  fuel_QUANTITY_PRODUCED        generate  1035    1.0
  60 │  2160  brazil  supply_fuel_wind                   fuel_QUANTITY_PRODUCED        generate  1035    1.0
                                                                                                      39 rows omitted

In [44]:
#df_max_investment = get(dict_tables, "TotalAnnualMaxCapacityInvestment", nothing)
yrs_keep = [string(x) for x in 1000:1034]
filter!(x -> ((x[:y] in yrs_keep) | (x[:t] == "pp_biomass")), df_max_investment)
SQLite.load!(df_max_investment, db, "TotalAnnualMaxCapacityInvestment"; replace = true)

"TotalAnnualMaxCapacityInvestment"

In [70]:
SQLite.load!(df_max_investment, db, "TotalAnnualMaxCapacityInvestment"; replace = true)

"TotalAnnualMinCapacity"

In [77]:
df_view = get(dict_tables, "OutputActivityRatio", nothing)

filter(x -> ((x[:y] == "1035") & (x[:f] == "fuel_hydrogen")), df_view)

4×7 DataFrame
 Row │ id     r       t                         f              m         y       val
     │ Int64  String  String                    String         String    String  Float64
─────┼───────────────────────────────────────────────────────────────────────────────────
   1 │    36  brazil  fp_hydrogen_electrolysis  fuel_hydrogen  generate  1035        1.0
   2 │    72  brazil  fp_hydrogen_gasification  fuel_hydrogen  generate  1035        1.0
   3 │   108  brazil  fp_hydrogen_reformation   fuel_hydrogen  generate  1035        1.0
   4 │  1656  brazil  supply_fuel_hydrogen      fuel_hydrogen  generate  1035        1.0

In [10]:
df_view = get(dict_tables, "MinShareProduction", nothing)

filter(x -> (x[:y] == "1034"), df_view)

19×6 DataFrame
 Row │ id     r       t                                  f                             y       val
     │ Int64  String  String                             String                        String  Float64
─────┼───────────────────────────────────────────────────────────────────────────────────────────────────
   1 │    35  brazil  fp_hydrogen_electrolysis           fuel_hydrogen                 1034    0.889205
   2 │    71  brazil  pp_coal                            fuel_electricity              1034    0.0
   3 │   107  brazil  pp_gas                             fuel_electricity              1034    0.0
   4 │   143  brazil  pp_geothermal                      fuel_electricity              1034    0.0855676
   5 │   179  brazil  pp_hydropower                      fuel_electricity              1034    0.565988
   6 │   215  brazil  pp_nuclear                         fuel_electricity              1034    0.0
   7 │   251  brazil  pp_oil                             fuel_electricity              1034    0.0
   8 │   287  brazil  pp_solar                           fuel_electricity              1034    0.128803
   9 │   323  brazil  pp_wind                            fuel_electricity              1034    0.131397
  10 │   359  brazil  supply_fuel_coal                   fuel_coal                     1034    0.595391
  11 │   395  brazil  supply_fuel_crude                  fuel_crude                    1034    0.0
  12 │   431  brazil  supply_fuel_diesel                 fuel_diesel                   1034    0.16625
  13 │   467  brazil  supply_fuel_electricity            fuel_electricity              1034    0.0774806
  14 │   503  brazil  supply_fuel_gasoline               fuel_gasoline                 1034    0.165411
  15 │   539  brazil  supply_fuel_hydrocarbon_gas_liqu…  fuel_hydrocarbon_gas_liquids  1034    0.130057
  16 │   575  brazil  supply_fuel_hydrogen               fuel_hydrogen                 1034    0.0249944
  17 │   611  brazil  supply_fuel_kerosene               fuel_kerosene                 1034    0.156192
  18 │   647  brazil  supply_fuel_natural_gas            fuel_natural_gas              1034    0.23035
  19 │   683  brazil  supply_fuel_oil                    fuel_oil                      1034    0.0406532

In [63]:
for k in sort(collect(keys(dict_tables)))
    
    (string(k[1:1]) == "v") ? println(get(dict_tables, k, nothing)) : nothing
end

0×6 DataFrame
0×5 DataFrame
0×6 DataFrame
0×6 DataFrame
0×5 DataFrame
0×4 DataFrame
0×6 DataFrame
0×6 DataFrame

In [48]:
#df = get(dict_tables, "CapacityFactor", nothing)
#filter(x -> ((x[:y] == "1000") & (x[:t] == "pp_hydropower")), df)
#DBInterface.execute(db, "drop * from SpecifiedDemandProfile")
table_name = "SpecifiedDemandProfile"
DBInterface.execute(db, "delete from $(table_name)")

SQLite.Query(SQLite.Stmt(SQLite.DB("/Users/jsyme/Documents/Projects/git_jbus/lac_decarbonization/tmp/nemomod_intermediate_database.sqlite"), 1), Base.RefValue{Int32}(101), Symbol[], Type[], Dict{Symbol, Int64}(), Base.RefValue{Int64}(0))

In [36]:
#keys(dict_tables)
for tab in sort(collect(keys(dict_tables)))
    
    df = get(dict_tables, tab, nothing)
    #if "r" in names(df)
    #    println(tab)
    #    all_regions = Set(df[:, :r])
    #    println("regions:\t\n$(all_regions)")
    #    (nrow(df) == 0) ? println("**NO ROWS**\n\n") : println("\n\n")
    
    if "id" in names(df)
        s_id = Set(df[:, :id])
        (length(s_id) != nrow(df)) ? println("ID MISTMATCH IN $(tab)") : nothing
    end
    
end

In [18]:
get(dict_tables, "vtotalcapacityannual", nothing)

0×5 DataFrame

In [126]:
filter(x -> (x[:f] != "fuel_electricity"), get(dict_tables, "SpecifiedAnnualDemand", nothing))

3×5 DataFrame
 Row │ id     r           f         y       val
     │ Int64  String      String    String  Float64
─────┼──────────────────────────────────────────────
   1 │     4  costa_rica  fuel_oil  1000       72.0
   2 │     5  costa_rica  fuel_oil  1001       73.5
   3 │     6  costa_rica  fuel_oil  1002       75.0

In [99]:
sort([x for x in keys(dict_tables) if String(x[1:1]) == "v"])

8-element Vector{String}:
 "vdemandnn"
 "vnewcapacity"
 "vproductionbytechnologyannual"
 "vproductionnn"
 "vtotalcapacityannual"
 "vtotaldiscountedcost"
 "vusebytechnologyannual"
 "vusenn"

In [127]:
get(dict_tables, "MinShareProduction", nothing)

3×6 DataFrame
 Row │ id     r           t                                  f         y       ⋯
     │ Int64  String      String                             String    String  ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │     1  costa_rica  supply_fuel_oil_from_fuel_electr…  fuel_oil  1000    ⋯
   2 │     2  costa_rica  supply_fuel_oil_from_fuel_electr…  fuel_oil  1001
   3 │     3  costa_rica  supply_fuel_oil_from_fuel_electr…  fuel_oil  1002
                                                                1 column omitted

In [130]:
t1 = get(dict_tables, "vproductionbytechnologyannual", nothing)
#filter(x -> (x[:t] == "pp_oil"), t1)
filter(x -> (x[:y] == "1002"), t1)

10×6 DataFrame
 Row │ r           t                                  f                 y      ⋯
     │ String      String                             String            String ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ costa_rica  supply_fuel_crude                  fuel_crude        1002   ⋯
   2 │ costa_rica  pp_hydropower                      fuel_electricity  1002
   3 │ costa_rica  pp_solar                           fuel_electricity  1002
   4 │ costa_rica  st_compressed_air                  fuel_electricity  1002
   5 │ costa_rica  st_batteries                       fuel_electricity  1002   ⋯
   6 │ costa_rica  supply_fuel_oil_from_fuel_electr…  fuel_oil          1002
   7 │ costa_rica  st_flywheels                       fuel_electricity  1002
   8 │ costa_rica  supply_fuel_solar                  fuel_solar        1002
   9 │ costa_rica  supply_fuel_oil                    fuel_oil          1002   ⋯
  10 │ costa_rica  supply_fuel_hydropower             fuel_hydropower   1002
                                                               2 columns omitted

In [139]:
(24*365*0.75*0.085)*1.298

724.8681

In [109]:
tab = filter(x -> ((x[:y] == "1002") & (x[:f] == "fuel_electricity")), t1)
sum(tab[:, :val]) - 21.7722

37.37555310931303

In [67]:
t2 = get(dict_tables, "InputActivityRatio", nothing)
filter(x -> ((x[:y] == "1000") & (x[:t] == "pp_oil")), t2)
166.262 - 36.947*2.5
37.2041*2.5

93.01024999999998

In [105]:
t3 = get(dict_tables, "SpecifiedAnnualDemand", nothing)
#filter(x -> ((x[:y] == "1001") & (x[:f] == "fuel_oil")), t3)
filter(x -> ((x[:y] == "1002")), t3)

2×5 DataFrame
 Row │ id     r           f                 y       val
     │ Int64  String      String            String  Float64
─────┼──────────────────────────────────────────────────────
   1 │     3  costa_rica  fuel_electricity  1002    36.287
   2 │     6  costa_rica  fuel_oil          1002    72.5739

In [88]:
i = 37
print("table_name: $(tabs_populated[i])")
df_cur = get(dict_tables, tabs_populated[i], nothing);
df_cur

table_name: CapacityFactor

5760×6 DataFrame
  Row │ id     r           t              l          y       val
      │ Int64  String      String         String     String  Float64
──────┼──────────────────────────────────────────────────────────────
    1 │     1  costa_rica  pp_geothermal  fallwd0    1000    0.72
    2 │     2  costa_rica  pp_geothermal  fallwd0    1001    0.72
    3 │     3  costa_rica  pp_geothermal  fallwd0    1002    0.72
    4 │     4  costa_rica  pp_geothermal  fallwd0    1003    0.72
    5 │     5  costa_rica  pp_geothermal  fallwd0    1004    0.72
    6 │     6  costa_rica  pp_geothermal  fallwd0    1005    0.72
    7 │     7  costa_rica  pp_geothermal  fallwd0    1006    0.72
    8 │     8  costa_rica  pp_geothermal  fallwd0    1007    0.72
    9 │     9  costa_rica  pp_geothermal  fallwd0    1008    0.72
   10 │    10  costa_rica  pp_geothermal  fallwd0    1009    0.72
   11 │    11  costa_rica  pp_geothermal  fallwd0    1010    0.72
  ⋮   │   ⋮        ⋮             ⋮            ⋮        ⋮        ⋮
 5751 │  5751  costa_rica  pp_wind        winterwe6  1026    0.87875
 5752 │  5752  costa_rica  pp_wind        winterwe6  1027    0.87875
 5753 │  5753  costa_rica  pp_wind        winterwe6  1028    0.87875
 5754 │  5754  costa_rica  pp_wind        winterwe6  1029    0.87875
 5755 │  5755  costa_rica  pp_wind        winterwe6  1030    0.87875
 5756 │  5756  costa_rica  pp_wind        winterwe6  1031    0.87875
 5757 │  5757  costa_rica  pp_wind        winterwe6  1032    0.87875
 5758 │  5758  costa_rica  pp_wind        winterwe6  1033    0.87875
 5759 │  5759  costa_rica  pp_wind        winterwe6  1034    0.87875
 5760 │  5760  costa_rica  pp_wind        winterwe6  1035    0.87875
                                                    5739 rows omitted

In [8]:
#DBInterface.execute(db, "select * from $(table_name)") |> DataFrame
#sort(collect(keys(dict_tables)))
#get(dict_tables, "CapacityFactor", nothing)

In [22]:
DBInterface.execute(db, "select * from CapitalCostStorage where (id in (1, 2, 3)) and (y in ('1005'))") |> DataFrame

0×5 DataFrame

In [91]:
fp_test = normpath(joinpath(pathof(NemoMod), "..", "..", "test", "storage_test.sqlite"))

"/Users/jsyme/.julia/packages/NemoMod/vg6Tx/test/storage_test.sqlite"

In [115]:

model = Model(Gurobi.Optimizer)
#set_optimizer_attribute(model, "Solver", "cplex")
@time NemoMod.calculatescenario(
    fp_sqlite_nemomod_db_tmp; 
    jumpmodel = model,
    numprocs = 1
)

2022-31-Oct 06:35:20.388 Started modeling scenario.
2022-31-Oct 06:35:20.389 Validated run-time arguments.
2022-31-Oct 06:35:20.392 Connected to scenario database. Path = /Users/jsyme/Documents/Projects/git_jbus/lac_decarbonization/tmp/nemomod_intermediate_database.sqlite.
2022-31-Oct 06:35:20.399 Dropped pre-existing result tables from database.
2022-31-Oct 06:35:20.399 Verified that transmission modeling is not enabled.
2022-31-Oct 06:35:20.482 Created parameter views and indices.
2022-31-Oct 06:35:20.487 Created temporary tables.
2022-31-Oct 06:35:22.241 Executed core database queries.
2022-31-Oct 06:35:22.245 Defined dimensions.
2022-31-Oct 06:35:22.264 Defined demand variables.
2022-31-Oct 06:35:22.277 Defined storage variables.
2022-31-Oct 06:35:22.279 Defined capacity variables.
2022-31-Oct 06:35:25.271 Defined activity variables.
2022-31-Oct 06:35:25.275 Defined costing variables.
2022-31-Oct 06:35:25.276 Defined reserve margin variables.
2022-31-Oct 06:35:25.302 Defined emissions variables.
2022-31-Oct 06:35:25.302 Defined combined nodal and non-nodal variables.
2022-31-Oct 06:35:25.302 Finished defining model variables.
2022-31-Oct 06:35:25.302 Scheduled task to add constraints to model.
2022-31-Oct 06:35:25.303 Queued constraint CAa1_TotalNewCapacity for creation.
2022-31-Oct 06:35:25.385 Queued constraint CAa2_TotalAnnualCapacity for creation.
2022-31-Oct 06:35:25.390 Queued constraint VRateOfActivity1 for creation.
2022-31-Oct 06:35:25.391 Queued constraint RampRate for creation.
2022-31-Oct 06:35:25.392 Queued constraint CAa3_TotalActivityOfEachTechnology for creation.
2022-31-Oct 06:35:25.518 Queued constraint CAa4_Constraint_Capacity for creation.
2022-31-Oct 06:35:25.520 Queued constraint MinimumTechnologyUtilization for creation.
2022-31-Oct 06:35:25.520 Queued constraint EBa2_RateOfFuelProduction2 for creation.
2022-31-Oct 06:35:25.773 Queued constraint GenerationAnnualNN for creation.
2022-31-Oct 06:35:25.773 Queued constraint ReGenerationAnnualNN for creation.
2022-31-Oct 06:35:25.774 Queued constraint EBa3_RateOfFuelProduction3 for creation.
2022-31-Oct 06:35:25.936 Queued constraint VRateOfProduction1 for creation.
2022-31-Oct 06:35:25.972 Queued constraint EBa5_RateOfFuelUse2 for creation.
2022-31-Oct 06:35:26.744 Queued constraint EBa6_RateOfFuelUse3 for creation.
2022-31-Oct 06:35:26.800 Queued constraint VRateOfUse1 for creation.
2022-31-Oct 06:35:26.834 Queued constraint EBa7_EnergyBalanceEachTS1 for creation.
2022-31-Oct 06:35:27.042 Queued constraint EBa8_EnergyBalanceEachTS2 for creation.
2022-31-Oct 06:35:27.042 Queued constraint EBa9_EnergyBalanceEachTS3 for creation.
2022-31-Oct 06:35:27.045 Queued constraint EBa11_EnergyBalanceEachTS5 for creation.
2022-31-Oct 06:35:27.212 Queued constraint EBb0_EnergyBalanceEachYear for creation.
2022-31-Oct 06:35:27.224 Queued constraint EBb1_EnergyBalanceEachYear for creation.
2022-31-Oct 06:35:27.236 Queued constraint EBb2_EnergyBalanceEachYear for creation.
2022-31-Oct 06:35:27.249 Queued constraint EBb3_EnergyBalanceEachYear for creation.
2022-31-Oct 06:35:27.249 Queued constraint EBb5_EnergyBalanceEachYear for creation.
2022-31-Oct 06:35:27.254 Queued constraint Acc3_AverageAnnualRateOfActivity for creation.
2022-31-Oct 06:35:27.476 Queued constraint NS1_RateOfStorageCharge for creation.
2022-31-Oct 06:35:27.655 Queued constraint NS2_RateOfStorageDischarge for creation.
2022-31-Oct 06:35:27.689 Queued constraint NS3_StorageLevelTsGroup1Start for creation.
2022-31-Oct 06:35:27.741 Queued constraint NS4_StorageLevelTsGroup2Start for creation.
2022-31-Oct 06:35:27.742 Queued constraint NS5_StorageLevelTimesliceEnd for creation.
2022-31-Oct 06:35:27.742 Queued constraint NS6_StorageLevelTsGroup2End for creation.
2022-31-Oct 06:35:27.759 Queued constraint NS6a_StorageLevelTsGroup2NetZero for creation.
2022-31-Oct 06:35:27.759 Queued constraint NS7_StorageLevelTsGroup1End for creation.
2022-31-Oct 06:35:27.766 Queued constraint NS7a_StorageLevelTsGroup1NetZero for creation.
2022-31-Oct 06:35:27.766 Queued constraint NS8_StorageLevelYearEnd for creation.
2022-31-Oct 06:35:27.818 Queued constraint NS8a_StorageLevelYearEndNetZero for creation.
2022-31-Oct 06:35:27.818 Queued constraint SI1_StorageUpperLimit for creation.
2022-31-Oct 06:35:27.818 Queued constraint SI2_StorageLowerLimit for creation.
2022-31-Oct 06:35:27.819 Queued constraint SI3_TotalNewStorage for creation.
2022-31-Oct 06:35:27.828 Queued constraint NS9a_StorageLevelTsLowerLimit for creation.
2022-31-Oct 06:35:27.849 Queued constraint NS9b_StorageLevelTsUpperLimit for creation.
2022-31-Oct 06:35:27.849 Queued constraint NS10_StorageChargeLimit for creation.
2022-31-Oct 06:35:27.849 Queued constraint NS11_StorageDischargeLimit for creation.
2022-31-Oct 06:35:27.849 Queued constraint NS12a_StorageLevelTsGroup2LowerLimit for creation.
2022-31-Oct 06:35:27.856 Queued constraint NS12b_StorageLevelTsGroup2UpperLimit for creation.
2022-31-Oct 06:35:27.856 Queued constraint NS13a_StorageLevelTsGroup1LowerLimit for creation.
2022-31-Oct 06:35:27.859 Queued constraint NS13b_StorageLevelTsGroup1UpperLimit for creation.
2022-31-Oct 06:35:27.859 Queued constraint NS14_MaxStorageCapacity for creation.
2022-31-Oct 06:35:27.859 Queued constraint NS15_MinStorageCapacity for creation.
2022-31-Oct 06:35:27.859 Queued constraint NS16_MaxStorageCapacityInvestment for creation.
2022-31-Oct 06:35:27.859 Queued constraint NS17_MinStorageCapacityInvestment for creation.
2022-31-Oct 06:35:27.859 Queued constraint NS18_FullLoadHours for creation.
2022-31-Oct 06:35:27.860 Queued constraint SI4a_FinancingStorage for creation.
2022-31-Oct 06:35:27.860 Queued constraint SI4_UndiscountedCapitalInvestmentStorage for creation.
2022-31-Oct 06:35:27.861 Queued constraint SI5_DiscountingCapitalInvestmentStorage for creation.
2022-31-Oct 06:35:27.861 Queued constraint SI6_SalvageValueStorageAtEndOfPeriod1 for creation.
2022-31-Oct 06:35:27.861 Queued constraint SI7_SalvageValueStorageAtEndOfPeriod2 for creation.
2022-31-Oct 06:35:27.861 Queued constraint SI8_SalvageValueStorageAtEndOfPeriod3 for creation.
2022-31-Oct 06:35:27.862 Queued constraint SI9_SalvageValueStorageDiscountedToStartYear for creation.
2022-31-Oct 06:35:27.862 Queued constraint SI10_TotalDiscountedCostByStorage for creation.
2022-31-Oct 06:35:27.862 Queued constraint CC1a_FinancingTechnology for creation.
2022-31-Oct 06:35:27.862 Queued constraint CC1_UndiscountedCapitalInvestment for creation.
2022-31-Oct 06:35:27.865 Queued constraint CC2_DiscountingCapitalInvestment for creation.
2022-31-Oct 06:35:27.865 Queued constraint SV1_SalvageValueAtEndOfPeriod1 for creation.
2022-31-Oct 06:35:27.866 Queued constraint SV2_SalvageValueAtEndOfPeriod2 for creation.
2022-31-Oct 06:35:27.866 Queued constraint SV3_SalvageValueAtEndOfPeriod3 for creation.
2022-31-Oct 06:35:27.867 Queued constraint SV4_SalvageValueDiscountedToStartYear for creation.
2022-31-Oct 06:35:27.867 Queued constraint OC1_OperatingCostsVariable for creation.
2022-31-Oct 06:35:27.870 Queued constraint OC2_OperatingCostsFixedAnnual for creation.
2022-31-Oct 06:35:27.873 Queued constraint OC3_OperatingCostsTotalAnnual for creation.
2022-31-Oct 06:35:27.874 Queued constraint OC4_DiscountedOperatingCostsTotalAnnual for creation.
2022-31-Oct 06:35:27.874 Queued constraint TDC1_TotalDiscountedCostByTechnology for creation.
2022-31-Oct 06:35:27.876 Queued constraint TDC2_TotalDiscountedCost for creation.
2022-31-Oct 06:35:27.876 Queued constraint TCC1_TotalAnnualMaxCapacityConstraint for creation.
2022-31-Oct 06:35:27.876 Queued constraint TCC2_TotalAnnualMinCapacityConstraint for creation.
2022-31-Oct 06:35:27.876 Queued constraint NCC1_TotalAnnualMaxNewCapacityConstraint for creation.
2022-31-Oct 06:35:27.877 Queued constraint NCC2_TotalAnnualMinNewCapacityConstraint for creation.
2022-31-Oct 06:35:27.877 Queued constraint AAC1_TotalAnnualTechnologyActivity for creation.
2022-31-Oct 06:35:28.030 Queued constraint AAC3_TotalAnnualTechnologyActivityLowerLimit for creation.
2022-31-Oct 06:35:28.032 Queued constraint RM1_ReserveMargin_TechnologiesIncluded_In_Activity_Units for creation.
2022-31-Oct 06:35:28.033 Queued constraint RM2_ReserveMargin_FuelsIncluded for creation.
2022-31-Oct 06:35:28.041 Queued constraint RM3_ReserveMargin_Constraint for creation.
2022-31-Oct 06:35:28.047 Queued constraint RE1_FuelProductionByTechnologyAnnual for creation.
2022-31-Oct 06:35:28.379 Queued constraint FuelUseByTechnologyAnnual for creation.
2022-31-Oct 06:35:28.422 Queued constraint RE2_ProductionTarget for creation.
2022-31-Oct 06:35:28.423 Queued constraint MinShareProduction for creation.
2022-31-Oct 06:35:28.423 Queued constraint E2a_AnnualEmissionProduction for creation.
2022-31-Oct 06:35:28.427 Queued constraint E2b_AnnualEmissionProduction for creation.
2022-31-Oct 06:35:28.561 Queued constraint E4_EmissionsPenaltyByTechnology for creation.
2022-31-Oct 06:35:28.573 Queued constraint E5_DiscountedEmissionsPenaltyByTechnology for creation.
2022-31-Oct 06:35:28.638 Queued constraint E6_EmissionsAccounting1 for creation.
2022-31-Oct 06:35:28.646 Queued constraint E7_EmissionsAccounting2 for creation.
2022-31-Oct 06:35:28.646 Queued constraint E8_AnnualEmissionsLimit for creation.
2022-31-Oct 06:35:28.646 Queued constraint E9_ModelPeriodEmissionsLimit for creation.
2022-31-Oct 06:35:28.646 Queued 94 standard constraints for creation.
2022-31-Oct 06:35:28.646 Finished scheduled task to add constraints to model.
2022-31-Oct 06:35:28.647 Added 94 standard constraints to model.
2022-31-Oct 06:35:28.647 Defined model objective.
Gurobi Optimizer version 9.5.2 build v9.5.2rc0 (mac64[x86])
Thread count: 6 physical cores, 12 logical processors, using up to 12 threads
Optimize a model with 313397 rows, 356030 columns and 914328 nonzeros
Model fingerprint: 0xc39cf451
Coefficient statistics:
  Matrix range     [1e-07, 3e+06]
  Objective range  [1e+00, 1e+00]
  Bounds range     [0e+00, 0e+00]
  RHS range        [1e-02, 1e+03]
Warning: Model contains large matrix coefficient range
         Consider reformulating model or setting NumericFocus parameter
         to avoid numerical issues.

Concurrent LP optimizer: primal simplex, dual simplex, and barrier
Showing barrier log only...

Presolve time: 0.28s

Solved with dual simplex
Solved in 0 iterations and 0.28 seconds (0.03 work units)
Infeasible or unbounded model

User-callback calls 23, time in user-callback 0.00 sec
2022-31-Oct 06:35:30.378 Solved model. Solver status = INFEASIBLE_OR_UNBOUNDED.
2022-31-Oct 06:35:30.378 Solver did not find an optimal solution for model. No results will be saved to database.
2022-31-Oct 06:35:30.382 Dropped temporary tables.
2022-31-Oct 06:35:30.382 Finished modeling scenario.
  9.994092 seconds (38.75 M allocations: 1.910 GiB, 27.64% gc time)

INFEASIBLE_OR_UNBOUNDED::TerminationStatusCode = 6

In [114]:
typeof(model)

Model

In [106]:
MOI.compute_conflict!(model.moi_backend.optimizer.model)
MOI.get(model.moi_backend, Gurobi.ConstraintConflictStatus(), con1.index)

IIS runtime: 0.02 seconds (0.00 work units)

LoadError: Gurobi Error 10015: Cannot compute IIS on a feasible model